html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}


.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  padding: 10px;
  background-color: #18b566;
}

.header .logo {
  width: 50px;
  height: 40px;
}

.header .title {
  height: 20px;
  color: white;
  font-size: 15px;
}

.header .label {
  height: 20px;
  color: white;
  font-size: 12px;
}

.header #btn_down {
  background-color: #71d5a1;
  border-color: #71d5a1;
  border-width: 1px;
  border-style: solid;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 4px, rgb(0 0 0 / 4%) 0px 0px 6px;
  color: white;
  border-radius: 100px;
  min-width: 60px;
  height: 30px;
  padding: 0 8px;
  font-size: 12px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-direction: row;
}

.footer {
  height: 50px;
  line-height: 50px;
  background-color: #18b566;
  text-align: center;
  color: white;
  font-size: 15px;
}
.wrap {
    width: 100%;
}
@media screen and (min-width: 768px) {
  .wrap {
    width: 450px;
  }
}

.goon {
  display: flex;

  color: white;
  position: absolute;
  top: 80px;
  right: 12px;
  font-weight: bold;
}

.layui-layer {
  border-radius: 10px !important;
  background-color: auto !important;
}

.notice-class .layui-layer-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(225, 215, 223);
}

.notice-class .layui-layer-content p {
  margin: 10px 0;
}

.notice-class .layui-layer-title {
  background: #c00;
  color: #fff;
  border: none;
}

.notice-class .layui-layer-iframe .layui-layer-btn,
.layui-layer-page .layui-layer-btn {
  background-color: #18b566;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.notice-class .layui-layer-btn a {
  background-color: rgb(252, 237, 177);
  border-color: rgb(252, 237, 177);
  color: #18b566;
}
